#nav {
  background-color: #80120E;
}
#title {
  padding: 10px 15px;
  float: left;
  font-weight: bold;
  color: #ffffff;
  background-color: #80120E;
}
#title i {
  color: #00B33E;
}
.menu {
  margin-left: 90%;
}
