#nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
  background-color: #80120E;
}
#nav #title {
  display: block;
  padding: 10px 15px;
  float: left;
  font-weight: bold;
  color: #ffffff;
}
#nav #title i {
  color: #00B33E;
}
#nav li {
  float: right;
}
#nav li a {
  display: block;
  padding: 8px 15px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: underline;
}
