.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #80120E;
}
.header img p {
  border-radius: 8px;
}
.header p {
  align-self: self-start;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.header span {
  display: inline;
  text-align: center;
  height:auto;
}
.home {
  margin-top: 1%;
  text-align: center;
  justify-content: center;
}
.home h1 {
  font-weight: bold;
}
.column {
  float: left;
  width: 33.33%;
  background-color: #803734;
  text-align: center;
}
.column h4 {
  color: #ffffff;
}
.column i {
  font-size: 5em;
  color: #00B33E;
}
row:after {
  content: "";
  display: table;
  clear: both;
}
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}
